* {
    padding:0px;
    margin: 0px;
}
body{
    background-color: #232323;
    padding-top: 100px;
    font-family:sans-serif;
    color:#d9d9d9;
}

.wrapper{
    display: flex;
    width: 1000px;
    margin:auto;
}


.input-value{
    display:grid;
    grid-template-columns: 100px 1fr;
    padding-bottom: 20px;
}

.shots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
}

a {
    color:chocolate;
}